.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* #WebGL-output{
  margin-top: 20px;
	width: 100vw;
	height: 600px;
} */

img:-webkit-full-screen {
	max-width: none;
}

img:-moz-full-screen {
	max-width: none;
}

img:-ms-fullscreen {
  max-width: none;
}

img:full-screen {
	max-width: none;
}

img:fullscreen {
	max-width: none;
}

.formPost{
  margin: 0px auto;
}

.formPost h1 {
  margin-top: 0px;
  font-size: 50px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  margin: 0px 60px;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: rgb(44, 118, 255);
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(20, 18, 168);
}

.inputDisabled {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.inputDisabled + label {
  margin: 0px 60px;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: rgb(20, 18, 168);
  display: inline-block;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.removeBtn {
  border: 1px solid rgb(240, 5, 5);
  border-radius: 10px;
  margin: 0px 60px;
  padding: 10px;
  width: 150px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: rgb(224, 7, 7);
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
}

.removeBtn:hover {
  background-color: rgb(156, 4, 4);
}

.singlePost{
  width: 100vw;
  height: 100px;
}

.singlePost > canvas{
  width: 100vw;
  height: 100px;
}